.main {
  width: 100%;
  background: #edf3fa;
  flex-grow: 1;
  .form_wrapper {
    width: 100%;
    max-width: 800px;
    height: 100%;  
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .form_description {
      text-align: center;
      font-family: "OpenSans-Light"; 
      color: #666;
      font-weight: 400;
      margin-bottom: 60px;
    }
  }
}

